.container {
  width: 100%; }

.navigation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .navigation .logo a {
    text-decoration: none;
    color: black; }
  .navigation .nav-list li {
    list-style-type: none; }

body {
  background-color: #DFF5FF;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.top {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }
  .top a {
    text-decoration: none;
    color: black; }
  .top h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0; }
  .top .img-mainvisual {
    width: 100%; }

.index {
  background-color: white;
  padding: 10px 200px;
  margin-bottom: 50px; }
  .index h2 {
    font-size: 18px; }
  .index ol {
    padding-left: 18px; }
  .index li {
    font-size: 14px;
    margin-bottom: 20px; }

.detail {
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px; }
  .detail h3 {
    font-size: 18px; }
  .detail .detail-img {
    width: 270px;
    margin-right: 30px; }
    .detail .detail-img .img-detail {
      max-width: 100%; }
  .detail .detail-text {
    display: block;
    width: 270px;
    margin-top: 50px;
    margin-left: 30px; }
    .detail .detail-text hr {
      border: solid 0.1px #DDDDDD; }
    .detail .detail-text td, .detail .detail-text p {
      font-size: 14px; }
    .detail .detail-text a {
      color: black;
      font-size: 14px; }

footer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px; }

@media (max-width: 1024px) {
  main {
    width: 100%;
    margin-left: 0;
    padding-left: 0; }

  .top {
    width: 97%;
    margin-left: auto;
    margin-right: auto; }

  .index {
    padding: 30px 50px;
    margin-left: 0; }

  .detail {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto; }
    .detail .detail-img {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
    .detail .detail-text {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0; }
      .detail .detail-text td {
        padding-right: 50px; }

  footer {
    width: 80%; } }
