* {
  margin: 0; }

.container {
  width: 100%;
  padding-bottom: 20px; }

.navigation {
  height: 80px;
  width: 100%;
  background-color: navy;
  display: flex;
  justify-content: space-around; }
  .navigation .logo {
    margin-top: 20px; }
    .navigation .logo a {
      text-decoration: none; }
      .navigation .logo a h1 {
        color: white; }
  .navigation .nav-list {
    margin-top: 30px; }
    .navigation .nav-list ul {
      display: flex;
      justify-content: space-around; }
      .navigation .nav-list ul li {
        list-style-type: none;
        margin-right: 20px; }
        .navigation .nav-list ul li a {
          text-decoration: none;
          color: white; }

footer {
  width: 600px;
  margin: 0 auto;
  font-size: 10px; }

@media (max-width: 1024px) {
  footer {
    width: 80%; } }
.page-index {
  color: blueviolet; }

.page-photobook1 body {
  background-color: #DFF5FF;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
.page-photobook1 main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }
.page-photobook1 .top {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }
  .page-photobook1 .top a {
    text-decoration: none;
    color: black; }
  .page-photobook1 .top h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0; }
  .page-photobook1 .top .img-mainvisual {
    width: 100%; }
.page-photobook1 .index {
  background-color: white;
  padding: 10px 200px;
  margin-bottom: 50px; }
  .page-photobook1 .index h2 {
    font-size: 18px; }
  .page-photobook1 .index ol {
    padding-left: 18px; }
  .page-photobook1 .index li {
    font-size: 14px;
    margin-bottom: 20px; }
.page-photobook1 .detail {
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px; }
  .page-photobook1 .detail h3 {
    font-size: 18px; }
  .page-photobook1 .detail .detail-img {
    width: 270px;
    margin-right: 30px; }
    .page-photobook1 .detail .detail-img .img-detail {
      max-width: 100%; }
  .page-photobook1 .detail .detail-text {
    display: block;
    width: 270px;
    margin-top: 50px;
    margin-left: 30px; }
    .page-photobook1 .detail .detail-text hr {
      border: solid 0.1px #DDDDDD; }
    .page-photobook1 .detail .detail-text td, .page-photobook1 .detail .detail-text p {
      font-size: 14px; }
    .page-photobook1 .detail .detail-text a {
      color: black;
      font-size: 14px; }
@media (max-width: 1024px) {
  .page-photobook1 main {
    width: 100%;
    margin-left: 0;
    padding-left: 0; }
  .page-photobook1 .top {
    width: 97%;
    margin-left: auto;
    margin-right: auto; }
  .page-photobook1 .index {
    padding: 30px 50px;
    margin-left: 0; }
  .page-photobook1 .detail {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto; }
    .page-photobook1 .detail .detail-img {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
    .page-photobook1 .detail .detail-text {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0; }
      .page-photobook1 .detail .detail-text td {
        padding-right: 50px; } }
