body{
    margin-left: 0;
    font-size: 0.9rem;
}
main , footer{
    text-align: center;
    color: rgb(75, 74, 74);
}

/* header */
header{
    height: 3.5rem;
    position: relative;
}
.navbar{
    position: absolute;
    left: 5%;
    max-width: 950px;
    position: relative;
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-justify-content: space-between; */
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}
header img{
    width: 7.5rem;
    position: absolute;
    left: 0rem;
}
nav{
    position: absolute;
    right: 3.5%;
}
nav ul{
    padding-left:0;
    display: flex;
    justify-content: center;
}
nav li{
    list-style:none;
    float: left;
    margin-right: 2.5rem;
}
a{
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(75, 74, 74);
}
a:hover{
    opacity: 0.7;
}

/* main */
main{
    margin-bottom: 5rem;
}
.mainvisual{
    width:100vw;
    object-fit: cover;
    height: 600px;
    margin-bottom: 3.5rem;
}
h2{
    font-size: xx-large;
    border-bottom: 1px solid;
    display: inline-block;
    margin-bottom: 3.5rem;
}
.horizon{
    display:flex;
    justify-content: center;
}
.icon{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 2rem;
    margin-top: 1rem;
}
/* #about */
#about , #bicycle{
    margin-bottom: 5rem;;
}
#about h3{
    text-transform: uppercase;
    text-align: left;
    font-size: medium;
    margin-bottom: 0.5rem;
}
/* #bicycle */
ul{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
li{
    list-style:none;
    margin-right:0.5rem;
    margin-left:0.5rem;
}
li img{
    width: 100%;
    margin-bottom: 0%;
}

/* footer */
footer{
    font-size: x-small;
}



@media screen and (max-width: 600px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    /* header */
    header img{
        position: absolute;
        left: 0rem;
    }
    nav{
        position: absolute;
        right: 0rem;
    }
    /* main */
    main{
        margin-bottom: 8.5rem;
    }
    .mainvisual{
        object-fit: cover;
        height: calc(100vh - 60px);
        margin-bottom: 3rem;
    }
    h2{
        margin-bottom: 3rem;
    }
    .horizon{
        display:block;
    }
    .icon{
        margin-left: auto;
        margin-right: auto;
    }
    #about , #bicycle{
        margin-bottom: 4.5rem;
    }
    #about h3{
        text-align: center;
        margin-right: 245px;
        margin-top: 0;
    }
    /* #bicycle */
    ul{
        width: 95%;
        padding-left:0;
    }
    li{
        margin-right:0.5rem;
        margin-left:0.5rem;
        margin-bottom: 2rem;
    }   
    li h3{
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    li p{
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}